@charset "ISO-8859-1";



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Rentukka;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
	color: white;
	text-decoration: none;
}

.boxi {
	width: 80%;
	background-color: rgba(158, 116, 116, 0.47);
	margin: auto;
	padding: 20px;
	margin-top: 50px;
	border-radius: 10px;
	padding-top: 20px;
	margin-bottom: 50px;
}

.pikkuboxi{
	
	width: 50%;
	background-color: #F2DEDF;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	padding-top: 20px;
	margin-bottom:50px;
	
	
}

.table {
	border-radius: 10px;
}

.btn {
	
}

@font-face {
	font-family: "Bakery";
	src: url("fonts/bakery.ttf");
}

@font-face {
	font-family: "Rentukka";
	src: url("fonts/Rentukka.otf");
}

@font-face {
	font-family: "NoWay";
	src: url("fonts/noway-regular-webfont.otf");
}

@font-face {
	font-family: "Ludicrous";
	src: url("fonts/Ludicrous.ttf");
}

@font-face {
	font-family: "TragicMarker";
	src: url("fonts/TragicMarker.otf");
}

@font-face {
	font-family: "Virtuous-Slab";
	src: url("fonts/Virtuous-Slab.otf");
}

@font-face {
	font-family: "Wish";
	src: url("fonts/wish.ttf");
}

@font-face {
	font-family: "Yikes";
	src: url("fonts/Yikes_medium.ttf");
}

@font-face {
	font-family: "Lemonberry";
	src: url("fonts/Lemonberry.otf");
}

.h1 {
	font-family: "Bakery";
	font-size: 235px;
	margin-bottom: -140px;
	margin-left: 190px;
	margin-top: 70px;
}

.h1Character {
	font-family: "Bakery";
	font-size: 235px;
	margin-bottom: -100px;
	margin-left: 160px;
	margin-top: 70px;
	line-height: 90%;
}

.h1Characters {
	font-family: "Bakery";
	font-size: 235px;
	margin-bottom: -100px;
	margin-left: 130px;
	margin-top: 70px;
	line-height: 90%;
}



.h1New {
	font-family: "Bakery";
	font-size: 235px;
	margin-bottom: -140px;
	margin-left: 340px;
	margin-top: 70px;
	line-height: 90%;
}

.h3 {
	font-family: "Ludicrous";
	font-size: 30px;
	font-color: white;
	float: right;
	margin-top: 100px;
	margin-right: 200px;
	padding-bottom: 30px;
}

.signout {
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	outline: none;
	font-family: "Rentukka";
	border: none
}

input[type="submit"]:hover {
	background: #111;
	outline: none;
}


